<h2>Nuestros productos</h2>
<div class="container">
    <div class="panel">

    </div>
    <div class="catalogo">
        <div *ngFor="let i of listado" class="card pspacing">
            <img src={{i[4]}} class="card-img-top redi-img" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i[1]}}</h5>
              <p class="card-text">Colección de Verano.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">$ {{i[2]}},00</li>
            </ul>
            <div class="card-body">
                <a href="#" class="btn bg-success text-white" (click)="addCamisaItem(i)">Añadir +</a>
            </div>
          </div>
    </div>
</div>
