<h2>Nuestros productos</h2>
<div class="container">
    <div class="panel">

    </div>
    <div class="catalogo">
        <div *ngFor="let i of rango" class="card pspacing">
            <img src="https://files.cdn.printful.com/o/upload/bfl-image/50/10170_l_idontwant.jpg" class="card-img-top redi-img" alt="...">
            <div class="card-body">
              <h5 class="card-title">Camiseta Corta</h5>
              <p class="card-text">Colección de Verano.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">$ 0.0000</li>
            </ul>
            <div class="card-body">
                <a href="#" class="btn bg-success text-white">Añadir +</a>
            </div>
          </div>
    </div>
</div>
