<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="payment-container">
                    <h2 class="text-center mb-4">Detalles de Pago</h2>
                    <form class="needs-validation" id="Formulario" novalidate [formGroup]="Formulario">
                        <div>
                            <label for="">Los items comprados son:</label>
                            <ul>
                                <li *ngFor="let item of carrito.getCarrito()">
                                    {{ item.datos[1] }} - Cantidad: {{ item.cantidad }}
                                </li>
                            </ul>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="id">Cédula</label>
                            <input type="number" formControlName="Cedula" class="form-control" placeholder="Número de identidad" id="cardNumber">
                        </div>
                        <div class="form-group">
                            <label for="name">Nombres</label>
                            <input type="text" formControlName="Nombres" class="form-control" placeholder="Nombres" id="name">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Apellidos</label>
                            <input type="text" formControlName="Apellidos" class="form-control" placeholder="Apellidos" id="lastname">
                        </div>
                        <div class="form-group d-flex justify-content-between">
                            <div class="payment-option">
                                <label for="">Medio de pago</label>
                                <div>
                                    <input formControlName="MedioPago" type="radio" id="tarjeta" name="MedioPago" value="tarjeta">
                                    <label for="tarjeta">Tarjeta Débito/Crédito</label>
                                </div>
                                <div>
                                    <input formControlName="MedioPago" type="radio" id="PSE" name="MedioPago" value="PSE">
                                    <label for="PSE">PSE</label>
                                </div>
                                <div>
                                    <input formControlName="MedioPago" type="radio" id="PayPal" name="MedioPago" value="PayPal">
                                    <label for="PayPal">PayPal</label>
                                </div>
                            </div>
                            <div>
                                <label for="" style="font-size: 1.5rem;"><strong>Valor total:</strong> {{ valorTotal }}</label>
                            </div>
                        </div>
                        
                        <div class="text-center">
                            <button type="submit" [disabled]="!Formulario.valid" class="btn btn-pagar" (click)="pagar()">Pagar</button>
                        </div>                  
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
