body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    height: 400px;
    padding: 30px;
    background-color: #f0f0f0;
    border: 1px solid #999;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.link {
    padding: 8px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #999;
    width: 50%;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.titulos {
    padding: 20px;
    text-align: center;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #999;
    padding: 8px;
    margin-bottom: 16px;
    width: 50%;
}

.input-container img {
    width: 20px; 
    height: 20px;
}

.input-container input {
    all: unset;
    margin-left: 20px;
    flex: 1;
}

button {
    all: unset;
    cursor: pointer;
    background-color: #008000;
    color: #fff;
    padding: 8px 25px;
    border-radius: 4px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30;
}

button:hover {
    background-color: #043004;
}