<div class="container">
    <div class="links">
      <a routerLink="/login" class="link">¡Ya tengo una cuenta!</a>
      <a routerLink="/register" class="link">¡Soy nuevo!</a>      
    </div>    
  <h2 class="titulos">Registrar Usuario</h2>

  <div class="input-container">
    <img src="https://cdn.icon-icons.com/icons2/2483/PNG/512/user_icon_149851.png" class="icon" alt="icono de usuario">
    <input type="text" placeholder="Username">
  </div>
  <div class="input-container">
    <img src="https://cdn-icons-png.flaticon.com/512/3443/3443354.png" class="icon" alt="icono de email">
    <input type="text" placeholder="Email">
  </div>
  <div class="input-container">
    <img src="https://cdn.icon-icons.com/icons2/37/PNG/512/password_3715.png" class="icon" alt="icono de contraseña">
    <input type="password" placeholder="Password">
  </div>
  <button onclick="">Continuar</button>
</div>
